<app-header></app-header>

<div class="main-panel animated fadeIn">
    <div class="content">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">Monitoramento de Pessoas</h2>
                    </div>
                    <div class="ml-md-auto py-2 py-md-0">
                        <a routerLink="/pessoa-cadastrar" class="btn btn-info btn-border btn-round"> <span class="btn-label"> <i class="fa fa-plus"></i></span> Cadastrar Pessoa</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-inner mt--5">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-head-row">
                                <div class="card-title">Pessoas</div>
                                <div class="card-tools">
                                    <input type="text" name="pessoaModel.nome" [(ngModel)]="pessoaModel.nome" (ngModelChange)="pesquisar()" placeholder="Pesquisar Pessoas" class="form-control" style="width: 400px;"/>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive table-hover table-sales">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th (click)="ordenarPorCampoSelecao('nome')">Nome <i class="fa fa-sort"></i></th>
                                                        <th (click)="ordenarPorCampoSelecao('tipoPessoa')">Tipo de Pessoa <i class="fa fa-sort"></i></th>
                                                        <th>Ação</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let pessoaModel_ of pessoaModelList | orderBy: chavePesquisa: isOrdenacaoReversa | paginate: {itemsPerPage: 5, currentPage: quantidadeResultadoPagina}">
                                                        <td class="fw-bold">{{pessoaModel_.nome}}</td>
                                                        <td class="fw-bold">{{pessoaModel_.tipoPessoa.descricao}}</td>
                                                        <td>
                                                            <a routerLink="/pessoa-alterar">
                                                                <i class="fas fa-th fa-2x"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <br /><br />
                                                    <pagination-controls (pageChange)="quantidadeResultadoPagina = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="separator-dashed"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>