<app-header></app-header>

<form (ngSubmit)="cadastrarDespesa()">
    <div class="main-panel">
        <div class="col-md-12" style="margin-top: 100px;">

            <div *ngIf="isApresentarMensagemSucesso == true" style="margin-top: 150px;">
                <div data-notify="container" class="col-10 col-xs-11 col-sm-4 alert alert-success" role="alert"
                    data-notify-position="top-right"
                    style="display: inline-block; margin: 0px auto; padding-left: 65px; position: fixed; transition: all 0.9s ease-in-out 0s; z-index: 1031; top: 20px; right: 20px;">
                    <button type="button" aria-hidden="true" class="close" data-notify="dismiss"
                        style="position: absolute; right: 10px; top: 5px; z-index: 1033;"><a
                            (click)="desabilitarMensagem()">×</a></button><span data-notify="icon"
                        class="fa fa-bell"></span> <span data-notify="title">Sistema Financeiro</span> <span
                        data-notify="message">Despesa Cadastrada com Sucesso!</span><a href="index.html" target="_blank"
                        data-notify="url"
                        style="background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;); height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 1032;"></a>
                </div>
            </div>

            <div *ngIf="isApresentarMensagemErro == true" style="margin-top: 150px;">
                <div data-notify="container" class="col-10 col-xs-11 col-sm-4 alert alert-danger" role="alert"
                    data-notify-position="top-right"
                    style="display: inline-block; margin: 0px auto; padding-left: 65px; position: fixed; transition: all 0.9s ease-in-out 0s; z-index: 1031; top: 20px; right: 20px;">
                    <button type="button" aria-hidden="true" class="close" data-notify="dismiss"
                        style="position: absolute; right: 10px; top: 5px; z-index: 1033;"><a
                            (click)="desabilitarMensagem()">×</a></button><span data-notify="icon"
                        class="fa fa-bell"></span> <span data-notify="title">Sistema Financeiro</span> <span
                        data-notify="message">Erro ao tentar cadastrar a Despesa</span><a href="index.html"
                        target="_blank" data-notify="url"
                        style="background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;); height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 1032;"></a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Cadastro de Despesa</div>
                </div>
                <div class="card-body">

                    <div class="row">

                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="categoriaDespesa">Categoria de Despesa</label>
                                <select class="form-control" autofocus name="categoriaDespesa"
                                    (ngModelChange)="recuperarCodigoCategoriaDespesaModel($event)"
                                    [(ngModel)]="despesaModel.categoriaDespesa">
                                    <option [disabled]="true">Selecione</option>
                                    <option *ngFor="let categoria_despesa_ of categoriaDespesaModelList"
                                        [value]="categoria_despesa_.codigo"> {{categoria_despesa_.descricao}} </option>
                                </select>
                            </div>
                        </div>

                        <div *ngIf="despesaModel.categoriaDespesa != null" [ngClass]="{'col-md-3 col-lg-3' : despesaModel.pessoaEstabelecimento == 'Outro', 'col-md-4 col-lg-4': despesaModel.pessoaEstabelecimento != 'Outro'}">
                            <!-- <div class="form-group">
                                <label for="pessoaEstabelecimento">Pessoa ou Estabelecimento</label>
                                <select id="pessoaEstabelecimento" name="pessoaEstabelecimento" [(ngModel)]="despesaModel.pessoaEstabelecimento" class="form-control">
                                    <option [disabled]="true">Selecione</option>
                                    <option *ngFor="let pessoa_estabelecimento_ of pessoaEstabelecimentoList" [ngValue]="pessoa_estabelecimento_"> {{pessoa_estabelecimento_.nome}} </option>
                                    <option>Outro</option>
                                </select>
                            </div> -->
                            <div class="form-group">
                                <label for="pessoaEstabelecimento">Pessoa ou Estabelecimento</label>
                                <ng-autocomplete [data]="pessoaEstabelecimentoList" [searchKeyword]="pesquisarPessoaEstabelecimentoPorNome" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" name="pessoaEstabelecimento" [(ngModel)]="despesaModel.pessoaEstabelecimento"></ng-autocomplete>
                                <ng-template #itemTemplate let-item><a [innerHTML]="item.nome"></a></ng-template>
                                <ng-template #notFoundTemplate let-notFound><div [innerHTML]="notFound"></div></ng-template>
                            </div>
                        </div>

                        <div *ngIf="despesaModel.pessoaEstabelecimento == 'Outro'" class="col-md-1 col-lg-1">
                            <div class="animated fadeIn" style="margin-top: 36px;">
                                <button type="button" data-toggle="modal"
                                    data-target="#cadastrarPessoaEstabelecimentoModal"
                                    class="btn btn-round btn-primary btn-border">+</button>
                            </div>
                        </div>

                        <div *ngIf="categoriaDespesaModel.sigla == 'DFI'" class="col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="dataVencimento">Data do Vencimento</label>
                                <input id="dataVencimento" type="text" name="dataVencimento"
                                    [(ngModel)]="despesaModel.dataVencimento" placeholder="DD/MM/AAAA"
                                    class="form-control form-control" />
                            </div>
                        </div>

                        <div *ngIf="despesaModel.categoriaDespesa != null"
                            [ngClass]="{'col-md-2 col-lg-2' : despesaModel.pessoaEstabelecimento == 'Outro', 'col-md-2 col-lg-2' : categoriaDespesaModel.sigla == 'DFI', 'col-md-4 col-lg-4' : categoriaDespesaModel.sigla == 'DVA'}">
                            <div class="form-group">
                                <label for="dataPagamento">Data do Pagamento</label>
                                <input id="dataPagamento" type="text" name="dataPagamento"
                                    [(ngModel)]="despesaModel.dataPagamento" placeholder="DD/MM/AAAA"
                                    class="form-control form-control" />
                            </div>
                        </div>

                    </div>

                    <div *ngIf="despesaModel.categoriaDespesa != null" class="row">

                        <!-- <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="produtoServico">Produto ou Serviço</label>
                                <input id="produtoServico"typ e="text" name="produtoServico"
                                    [(ngModel)]="produtoServicoModel.descricao" placeholder="Nome do Produto ou Serviço"
                                    class="form-control form-control" />
                            </div>
                        </div> -->

                        <div class="ng-autocomplete col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="produtoServico">Produto ou Serviço (Autocomplete)</label>
                                <ng-autocomplete [data]="produtoServicoModelAutocompletarList" [searchKeyword]="pesquisarProdutoServicoPorDescricao" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" name="produtoServico"
                                [(ngModel)]="produtoServicoModel.descricao"></ng-autocomplete>
                            </div>
                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item.descricao"></a>
                            </ng-template>
                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>

                        <div *ngIf="categoriaDespesaModel.sigla == 'DVA'" class="col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="quantidade">Quantidade</label>
                                <select id="quantidade" name="quantidade" [(ngModel)]="produtoServicoModel.quantidade"
                                    class="form-control">
                                    <option [disabled]="true">Selecione</option>
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>

                        <div
                            [ngClass]="{'col-md-2 col-lg-2' : categoriaDespesaModel.sigla == 'DVA', 'col-md-4 col-lg-4' : categoriaDespesaModel.sigla == 'DFI'}">
                            <div class="form-group">
                                <label for="valorUnitario">Valor</label>
                                <input id="valorUnitario" type="text" name="valorUnitario"
                                    [(ngModel)]="produtoServicoModel.valorUnitario" placeholder="R$ 00,00"
                                    class="form-control form-control" />
                            </div>
                        </div>

                        <div class="col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="isProdutoServicoMultiplo_">Produto Múltiplo</label>
                                <select id="isProdutoServicoMultiplo_" name="isProdutoServicoMultiplo_" #isProdutoServicoMultiplo_ (change)="alterarValorProdutoServicoMultiplo(isProdutoServicoMultiplo_.value)" class="form-control">
                                    <option [disabled]="true">Selecione</option>
                                    <option id="unico" value="false" selected> Único </option>
                                    <option id="multiplo" value="true"> Múltiplo </option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div *ngIf="isProdutoServicoMultiplo" class="card-action">
                        <button [disabled]="produtoServicoModel.descricao == null" (click)="cadastrarProdutoServico(produtoServicoModel)" class="btn btn-secondary btn-xl btn-border col-md-12">
                            <b>Cadastrar Produto ou Serviço</b>
                        </button>
                    </div>

                    <div *ngIf="produtoServicoModelList.length > 0" class="row">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td class="text-left" style="width: 270px;"><b>Produto ou Serviço</b></td>
                                    <td class="text-center">
                                        <strong>Valor Unitário</strong>
                                    </td>
                                    <td class="text-center">
                                        <strong>Quantidade</strong>
                                    </td>
                                    <td class="text-center">
                                        <strong>Valor Total</strong>
                                    </td>
                                    <td class="text-center">
                                        <strong>Ações</strong>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let produto_servico_model_ of produtoServicoModelList">
                                    <td class="text-left"> {{produto_servico_model_.descricao}} </td>
                                    <td class="text-center"> {{produto_servico_model_.valorUnitario | currency : "BRL":
                                        true}} </td>
                                    <td class="text-center"> {{produto_servico_model_.quantidade}} </td>
                                    <td class="text-center"> {{ produto_servico_model_.quantidade *
                                        produto_servico_model_.valorUnitario | currency : "BRL": true}} </td>
                                    <td class="text-center">
                                        <button type="button" (click)="removerProdutoServico(produto_servico_model_)"
                                            class="btn btn-warning btn-border"> Remover </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="despesaModel.categoriaDespesa != null" class="row">

                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="responsavelPagamento">Responsável pelo Pagamento</label>
                                <select class="form-control" name="responsavelPagamento"
                                    (ngModelChange)="recuperarFormaPagamentoDespesaConfiguradaUsuario($event)"
                                    [(ngModel)]="formaPagamentoDespesaModel.pessoaPagamento">
                                    <option [disabled]="true">Selecione</option>
                                    <option *ngFor="let pessoa_fisica_ of pessoaFisicaModelList"
                                        [ngValue]="pessoa_fisica_"> {{pessoa_fisica_.nome}} </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="formaPagamento">Forma de Pagamento</label>
                                <select class="form-control" name="formaPagamento"
                                    [(ngModel)]="formaPagamentoDespesaModel.formaPagamento">
                                    <option [disabled]="true">Selecione</option>
                                    <option *ngFor="let tipo_forma_pagamento_ of tipoFormaPagamentoList"
                                        [ngValue]="tipo_forma_pagamento_"> {{tipo_forma_pagamento_.descricao}} </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3 col-lg-4">
                            <div class="form-group">
                                <label for="isFormaPagamentoMutiplo_">Forma de Pagamento Múltiplo</label>
                                <select id="isFormaPagamentoMutiplo_" name="isFormaPagamentoMutiplo_" #isFormaPagamentoMutiplo_ (change)="alterarValorFormaPagamentoMultiplo(isFormaPagamentoMutiplo_.value)" class="form-control">
                                    <option [disabled]="true">Selecione</option>
                                    <option value="false" selected>Único</option>
                                    <option value="true">Múltiplo</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div *ngIf="isFormaPagamentoMutiplo" class="card-action">
                        <button [disabled]="despesaModel.categoriaDespesa == null" class="btn btn-secondary btn-xl btn-border col-md-12" style="margin: 4px;">
                            <b>Cadastrar Forma de Pagamento</b>
                        </button>
                    </div>

                    <div *ngIf="isFormaPagamentoMutiplo" class="row">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td class="text-left" style="width: 270px;"><b>Responsável Pelo Pagamento</b></td>
                                    <td class="text-center">
                                        <strong>Forma de Pagamento</strong>
                                    </td>
                                    <td class="text-center">
                                        <strong>Valor do Pagamento</strong>
                                    </td>
                                    <td class="text-center">
                                        <strong>Ações</strong>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-left"> José Quentinn </td>
                                    <td class="text-center"> Cartão de Crédito (XXXX XXXX XXXX 9972) </td>
                                    <td class="text-center"> <b>R$ 18.49</b> </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-warning btn-border"> Remover </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left"> Jamille Alves </td>
                                    <td class="text-center"> Cartão de Crédito (XXXX XXXX XXXX 4524) </td>
                                    <td class="text-center"> <b>R$ 18.49</b> </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-warning btn-border"> Remover </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div *ngIf="produtoServicoModel.descricao != null" class="card-action">
                    <button id="cadastrarDespesa" [disabled]="despesaModel.categoriaDespesa == null"
                        class="btn btn-primary btn-lg col-md-6" style="margin: 4px;">Cadastrar Despesa</button>
                    <button type="button" [disabled]="despesaModel.categoriaDespesa == null"
                        class="btn btn-warning btn-lg col-md-3" style="margin: 4px;">Cadastrar Outra</button>
                    <button type="button" (click)="redirecionarPaginaMonitoramentoDespesa()"
                        class="btn btn-danger btn-border btn-lg col-md-2" style="margin: 4px;">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="cadastrarPessoaEstabelecimentoModal" class="modal animated fadeIn" tabindex="-1" role="dialog" focus>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Cadastrar Pessoa ou Estabelecimento</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 col-lg-6">
                        <div class="form-group">
                            <label for="nome">Pessoa ou Estabelecimento</label>
                            <input type="text" name="nome" [(ngModel)]="pessoaModel.nome" class="form-control form-control">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6">
                        <div class="form-group">
                            <label for="tipoPessoa">Tipo de Pessoa</label>
                            <select name="tipoPessoa" [(ngModel)]="pessoaModel.tipoPessoa" class="form-control" placeholder="Selecione">
                                <option>Selecionar</option>
                                <option *ngFor="let tipo_pessoa_model_ of tipoPessoaModelList" [ngValue]="tipo_pessoa_model_">{{ tipo_pessoa_model_.descricao }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-12">
                        <div class="form-group">
                            <label for="isAtivo">Instituição Financeira</label>
                            <select name="isAtivo" [(ngModel)]="pessoaModel.isInstituicaoFinanceira"
                                class="form-control">
                                <option>Selecionar</option>
                                <option [ngValue]="true" selected>Sim</option>
                                <option [ngValue]="false">Não</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="isPessoaFinanceira">Pessoa Financeira</label>
                            <select name="isPessoaFinanceira" [(ngModel)]="pessoaModel.isPessoaFinanceira"
                                class="form-control">
                                <option>Selecionar</option>
                                <option [ngValue]="true" selected>Sim</option>
                                <option [ngValue]="false">Não</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="isAtivo">Instituição Financeira</label>
                            <select name="isAtivo" [(ngModel)]="pessoaModel.isInstituicaoFinanceira"
                                class="form-control">
                                <option>Selecionar</option>
                                <option [ngValue]="true" selected>Sim</option>
                                <option [ngValue]="false">Não</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="isAtivo">Situação</label>
                            <select name="isAtivo" [(ngModel)]="pessoaModel.isAtivo" class="form-control">
                                <option>Selecionar</option>
                                <option [ngValue]="true" selected>Ativo</option>
                                <option [ngValue]="false">Inativo</option>
                            </select>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" (click)="cadastrarPessoaEstabelecimento(pessoaModel)" data-dismiss="modal" class="btn btn-primary col-md-10">Cadastrar</button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary btn-border col-md-2">Cancelar</button>
            </div>
        </div>
    </div>
</div>