<app-header></app-header>

<div class="main-panel animated fadeIn">
    <div class="content">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">Monitoramento de Receitas</h2>
                    </div>
                    <div class="ml-md-auto py-2 py-md-0">
                        <a routerLink="/receita-cadastrar"
                            class="btn btn-info btn-border btn-round"> <span class="btn-label"> <i
                                    class="fa fa-plus"></i></span> Cadastrar Receita</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-inner mt--5">
            <div class="row mt--2">
                <div class="col-md-6">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="card-title">Percentual Anual de Receitas</div>
                            <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                                <div class="px-2 pb-2 pb-md-0 text-center">
                                    <div id="circles-2"></div>
                                    <h6 class="fw-bold mt-3 mb-0">Receitas Pendentes</h6>
                                </div>
                                <div class="px-2 pb-2 pb-md-0 text-center">
                                    <div id="circles-3"></div>
                                    <h6 class="fw-bold mt-3 mb-0">Receitas Fixas</h6>
                                </div>
                                <div class="px-2 pb-2 pb-md-0 text-center">
                                    <div id="circles-1"></div>
                                    <h6 class="fw-bold mt-3 mb-0">Receitas Variáveis</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="card-title">Histórico Anual de Receitas</div>
                            <div class="row py-3">
                                <div class="col-md-4 d-flex flex-column justify-content-around">
                                    <div>
                                        <h6 class="fw-bold text-uppercase text-success op-8">Receita Acumulada
                                        </h6>
                                        <h3 class="fw-bold">R$ 1.500.00</h3>
                                    </div>
                                    <div>
                                        <h6 class="fw-bold text-uppercase text-danger op-8">Receita Pendente
                                        </h6>
                                        <h3 class="fw-bold">R$ 5.5478,00</h3>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div id="chart-container">
                                        <canvas id="totalIncomeChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-head-row">
                                <div class="card-title fw-bold">Receitas Cadastradas</div>
                                <div class="card-tools">
                                    <ul class="nav nav-pills nav-pills-no-bd nav-sm" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a id="filtrarTodos" (click)="recuperarReceita()" class="nav-link btn-primary active" style="cursor: pointer;">Todos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="filtrarReceitasFixas" (click)="recuperarReceitasFixas()" class="nav-link btn-secondary active" style="cursor: pointer;">Receitas Fixas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="filtrarReceitasVariaveis" (click)="recuperarReceitasVariaveis()" class="nav-link btn-warning active" style="cursor: pointer;">Receitas Variáveis</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive table-hover table-sales">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Origem Recurso</th>
                                                        <th>Conta Depósito</th>
                                                        <th>Valor</th>
                                                        <th>Situação</th>
                                                        <th>Ações</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let receitaModel_ of receitaModelList">
                                                        <div class="avatar avatar-online"></div>
                                                        <a (click)="redirecionarPaginaAtualizarReceita(receitaModel_.codigo)" class="btn btn-link fw-bold">
                                                            <td>{{receitaModel_.responsavelPagamento.nome}}</td>
                                                        </a>
                                                        <td>{{receitaModel_.contaBancariaDeposito.contrato.pessoaContratante.nome}}</td>
                                                        <td class="fw-bold">{{receitaModel_.valorPagamento | currency : "BRL": true }}</td>
                                                        <td class="text-rigth fw-bold">
                                                            <span [ngClass]="{
                                                                    'text-success pl-3': receitaModel_.tipoSituacaoPagamento == 'Pago', 
                                                                    'text-warning pl-3': receitaModel_.tipoSituacaoPagamento == 'Pendente', 
                                                                    'text-danger pl-3': receitaModel_.tipoSituacaoPagamento == 'Vencido'}">{{receitaModel_.tipoSituacaoPagamento}}
                                                            </span>
                                                        </td>
                                                        <a class="btn btn-link fw-bold">
                                                            <td>[Gerenciar]</td>
                                                        </a>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="separator-dashed"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>