<div *ngIf="isApresentaMensagemErro == true" style="margin-top: 150px;">
	<div data-notify="container" class="col-10 col-xs-11 col-sm-4 alert alert-danger" role="alert" data-notify-position="top-right" style="display: inline-block; margin: 0px auto; padding-left: 65px; position: fixed; transition: all 0.9s ease-in-out 0s; z-index: 1031; top: 20px; right: 20px;">
		<button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 5px; z-index: 1033;"><a (click)="desabilitarMensagem()">×</a></button><span data-notify="icon" class="fa fa-bell"></span> <span data-notify="title">Sistema Financeiro</span> <span data-notify="message">Erro ao tentar autenticar o usuário!</span><a href="index.html" target="_blank" data-notify="url" style="background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;); height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 1032;"></a> </div>
</div>

<form (ngSubmit)="registrarLoginUsuario()">
	<div class="card" style="margin-top: 130px;">
		<div class="card-body">
			<h3 class="text-center fw-bold">Autenticação no Sistema Financeiro</h3>
			<div class="login-form">
				<div class="form-group">
					<label for="identificador" class="placeholder"><b>Identificador</b></label>
					<input id="identificador" name="identificador" type="text" [(ngModel)]="usuarioSistemaModel.identificador" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="senha" class="placeholder"><b>Senha</b></label>
					<a href="#" class="link float-right">Esqueceu a senha ?</a>
					<div class="position-relative">
						<input id="senha" name="senha" type="password" [(ngModel)]="usuarioSistemaModel.senha" class="form-control" required>
						<!-- <div class="show-password">
							<i class="icon-eye"></i>
						</div> -->
					</div>
				</div>
				<div class="form-group form-action-d-flex">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="rememberme">
						<label class="custom-control-label m-0" for="rememberme">Guardar a senha</label>
					</div>
				</div>
				<div class="form-group form-action-d-flex">
					<button class="btn btn-secondary col-md-12 float-right mt-3 mt-sm-0 fw-bold">Acessar Sistema</button>
				</div>
			</div>
		</div>
	</div>
</form>