<app-header></app-header>

<div class="main-panel animated fadeInDownBig">
    <div class="col-md-12" style="margin-top: 90px;">

        <div class="tab-pane fade active show" id="v-pills-home-icons" role="tabpanel"
            aria-labelledby="v-pills-home-tab-icons">
            <div class="accordion accordion-secondary">
                <div class="card">
                    <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne" role="button">
                        <div class="span-icon">
                            <div class="flaticon-box-1"></div>
                        </div>
                        <div class="span-title">
                            Filtrar Dados
                        </div>
                        <div class="span-mode"></div>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8 col-lg-6">
                                        <div class="form-group">
                                            <label for="empresa-pagadora">Responsável pelo Pagamento</label>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>Selecionar</option>
                                                <option>Banco Caixa Econômica Federal</option>
                                                <option>Banco Nubank</option>
                                                <option>Banco Santander S.A</option>
                                                <option>Outro</option>
                                            </select>
                                            <!-- <small id="emailHelp2" class="form-text text-danger fw-bold">Campo Obrigatório</small> -->
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-3">
                                        <div class="form-group">
                                            <label for="data-recebimento disable">Data Vencimento</label>
                                            <input type="text" class="form-control form-control" id="defaultInput"
                                                placeholder="DD/MM/AAAA">
                                            <!-- <small id="emailHelp2" class="form-text text-danger fw-bold">Compo Obrigatório</small> -->
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-lg-3">
                                        <div class="form-group">
                                            <label for="data-recebimento">Data Pagamento</label>
                                            <input type="text" class="form-control form-control" id="defaultInput"
                                                placeholder="DD/MM/AAAA">
                                            <!-- <small id="emailHelp2" class="form-text text-danger fw-bold">Compo Obrigatório</small> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-lg-6">
                                        <div class="form-group">
                                            <label for="empresa-pagadora">Conta Bancária Depósito</label>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>Selecionar</option>
                                                <option>Banco Caixa Econômica Federal (XXXX.YYYYYY-T)</option>
                                                <option>Banco Nubank (XXXX.YYYYYY-T)</option>
                                                <option>Banco Santander S.A (XXXX.YYYYYY-T)</option>
                                                <option>Outra</option>
                                            </select>
                                            <!-- <small id="emailHelp2" class="form-text text-danger fw-bold">Campo Obrigatório</small> -->
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-6">
                                        <div class="form-group">
                                            <label for="empresa-pagadora">Forma Pagamento</label>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>Selecionar</option>
                                                <option>Transferência Bancária</option>
                                                <option>Outra</option>
                                            </select>
                                            <!-- <small id="emailHelp2" class="form-text text-danger fw-bold">Campo Obrigatório</small> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-lg-6">
                                        <div class="form-group">
                                            <label for="empresa-pagadora">Situação do Pagamento</label>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>Selecionar</option>
                                                <option>Aguardando Pagamento</option>
                                                <option>Pago</option>
                                                <option>Aguardando Confirmação do Depósito</option>
                                                <option>Outra</option>
                                            </select>
                                            <!-- <small id="emailHelp2" class="form-text text-danger fw-bold">Campo Obrigatório</small> -->
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-6">
                                        <div class="form-group">
                                            <label for="empresa-pagadora">Período Financeiro</label>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>Selecionar</option>
                                                <option>Mensal</option>
                                                <option>Outro</option>
                                            </select>
                                            <!-- <small id="emailHelp2" class="form-text text-danger fw-bold">Campo Obrigatório</small> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-lg-6">
                                        <div class="form-group">
                                            <label for="empresa-pagadora">Número da Parcela</label>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>Selecionar</option>
                                                <option>01/05</option>
                                                <option>02/05</option>
                                                <option>03/05</option>
                                                <option>04/05</option>
                                                <option>05/05</option>
                                                <option>Outra</option>
                                            </select>
                                            <!-- <small id="emailHelp2" class="form-text text-danger fw-bold">Campo Obrigatório</small> -->
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-6">
                                        <div class="form-group">
                                            <label for="empresa-pagadora">Valor do Pagamento</label>
                                            <input type="text" class="form-control form-control" id="defaultInput"
                                                placeholder="R$ 00,00">
                                            <!-- <small id="emailHelp2" class="form-text text-danger fw-bold">Campo Obrigatório</small> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <button class="btn btn-primary btn-lg col-md-10">Pesquisar</button>
                                <a href="#" class="btn btn-danger btn-border btn-lg col-md-2">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-card-no-pd">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row card-tools-still-right">
                            <h4 class="card-title">Filtro de Receitas</h4>
                            <div class="card-tools">
                                <div class="ml-md-auto py-2 py-md-0">
                                    <a routerLink="/receita-cadastrar" class="btn btn-primary btn-round">Cadastrar Receita</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive table-hover table-sales">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Empresa</th>
                                                <th>Vencimento</th>
                                                <th>Conta Depósito</th>
                                                <th>Parcela</th>
                                                <th class="text-center">Valor</th>
                                                <th>Situação</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- <tr *ngFor="let receitaModel_ of receitaModelList">
                                                <td>{{receitaModel_.responsavelPagamento}}</td>
                                                <td>{{receitaModel_.dataVenciemento}}</td>
                                                <td>{{receitaModel_.contaBancariaDeposito}}</td>
                                                <td>{{receitaModel_.numeroParcela}}</td>
                                                <td>{{receitaModel_.valorPagamento | currency : "BRL": true }}</td>
                                                <td class="text-rigth"><span [ngClass]="{'text-success fw-bold': receitaModel_.situacaoPagamento == 'Pago', 'text-warning fw-bold': receitaModel_.situacaoPagamento == 'Pendente', 'text-danger fw-bold': receitaModel_.situacaoPagamento == 'Vencido'}">{{receitaModel_.situacaoPagamento}}</span>
                                                </td>
                                                <th>
                                                    <div>
                                                        <a (click)="atualizarReceita(receitaModel_.id)" class="btn"> <i
                                                                class="fas fa-edit"></i> </a>
                                                        <a (click)="removerReceita(receitaModel_.id)" class="btn"> <i
                                                                class="fas fa-trash"></i> </a>
                                                    </div>
                                                </th>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="demo">
                                    <ul class="pagination pg-primary">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Próximo</span>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Anterior</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>