.modal-content {
    border-radius: 0.4rem !important;
    border: 0 !important;
    margin: 0 auto;
    margin-top: 30% !important;
    width: 600px !important;
    height: 400px !important;
    transition: all 3s !important;
}