<app-header></app-header>

<div class="main-panel animated fadeIn">
    <div class="content">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h1 class="text-white pb-2 fw-bold">Monitoramento de Composição Salarial</h1>
                    </div>
                    <div class="ml-md-auto py-2 py-md-0">
                        <a routerLink="/composicao-salarial-cadastrar" class="btn btn-info btn-border btn-round"
                            style="margin: 4px;">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span> Cadastrar Composição Salarial</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-inner mt--5">
            <div class="row mt--2">

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h4><b>Salario Recebido</b></h4>
                                </div>
                                <h2 class="text-info fw-bold"><a routerLink="/receita-listar"
                                        style="text-decoration: none;">R$ 00,00</a></h2>
                            </div>
                            <div class="progress progress-xl">
                                <div role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 48%"
                                    class="progress-bar progress-bar-striped progress-bar-animated bg-primary-gradient">
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-2"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h4><b>Salário a Receber</b></h4>
                                </div>
                                <h2 class="text-info fw-bold"><a routerLink="/receita-listar"
                                        style="text-decoration: none;">R$ 00,00</a></h2>
                            </div>
                            <div class="progress progress-xl">
                                <div role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 87%"
                                    class="progress-bar progress-bar-striped progress-bar-animated bg-warning-gradient">
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-2"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title fw-bold">Composição Salarial Cadastrada</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive table-hover table-sales">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th class="text-center">Data de Refêrencia</th>
                                                    <th class="text-center">Valor Salário Base</th>
                                                    <th class="text-center">Valor de Descontos</th>
                                                    <th class="text-center">Valor do Salário Composto</th>
                                                    <th class="text-center">Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">1</td>
                                                    <td class="text-center">05/2021</td>
                                                    <td class="text-center">R$ 5.000,00</td>
                                                    <td class="text-center">R$ 1.000,00</td>
                                                    <td class="text-center fw-bold">R$ 4.000,00</td>
                                                    <td class="text-center">
                                                        <a routerLink="/composicao-salarial-detalhar">
                                                            <i class="fas fa-th fa-2x"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">2</td>
                                                    <td class="text-center">06/2021</td>
                                                    <td class="text-center">R$ 5.000,00</td>
                                                    <td class="text-center">R$ 1.000,00</td>
                                                    <td class="text-center fw-bold">R$ 4.000,00</td>
                                                    <td class="text-center">
                                                        <a routerLink="/composicao-salarial-detalhar">
                                                            <i class="fas fa-th fa-2x"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">3</td>
                                                    <td class="text-center">07/2021</td>
                                                    <td class="text-center">R$ 5.000,00</td>
                                                    <td class="text-center">R$ 1.000,00</td>
                                                    <td class="text-center fw-bold">R$ 4.000,00</td>
                                                    <td class="text-center">
                                                        <a routerLink="/composicao-salarial-detalhar">
                                                            <i class="fas fa-th fa-2x"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="separator-dashed"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>