<app-header></app-header>

<form>
    <div class="main-panel">
        <div class="col-md-12" style="margin-top: 100px;">

            <!--
            <div *ngIf="isApresentarMensagemSucesso == true" style="margin-top: 150px;">
                <div data-notify="container" class="col-10 col-xs-11 col-sm-4 alert alert-success" role="alert"
                    data-notify-position="top-right"
                    style="display: inline-block; margin: 0px auto; padding-left: 65px; position: fixed; transition: all 0.9s ease-in-out 0s; z-index: 1031; top: 20px; right: 20px;">
                    <button type="button" aria-hidden="true" class="close" data-notify="dismiss"
                        style="position: absolute; right: 10px; top: 5px; z-index: 1033;"><a
                            (click)="desabilitarMensagem()">×</a></button><span data-notify="icon"
                        class="fa fa-bell"></span> <span data-notify="title">Sistema Financeiro</span> <span
                        data-notify="message">Despesa Cadastrada com Sucesso!</span><a href="index.html" target="_blank"
                        data-notify="url"
                        style="background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;); height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 1032;"></a>
                </div>
            </div>

            <div *ngIf="isApresentarMensagemErro == true" style="margin-top: 150px;">
                <div data-notify="container" class="col-10 col-xs-11 col-sm-4 alert alert-danger" role="alert"
                    data-notify-position="top-right"
                    style="display: inline-block; margin: 0px auto; padding-left: 65px; position: fixed; transition: all 0.9s ease-in-out 0s; z-index: 1031; top: 20px; right: 20px;">
                    <button type="button" aria-hidden="true" class="close" data-notify="dismiss"
                        style="position: absolute; right: 10px; top: 5px; z-index: 1033;"><a
                            (click)="desabilitarMensagem()">×</a></button><span data-notify="icon"
                        class="fa fa-bell"></span> <span data-notify="title">Sistema Financeiro</span> <span
                        data-notify="message">Erro ao tentar cadastrar a Despesa</span><a href="index.html"
                        target="_blank" data-notify="url"
                        style="background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;); height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 1032;"></a>
                </div>
            </div>
            -->

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Cadastro de Composição Salarial</div>
                </div>
                <div class="card-body">

                    <div class="row">

                        <div class="form-group col-md-2 col-lg-3">
                            <label for="">Data de Referência</label>
                            <select class="form-control" id="" autofocus name="">
                                <option [disabled]="true">Selecione</option>
                                <option>05/2021</option>
                                <option>06/2021</option>
                                <option>07/2021</option>
                                <option>08/2021</option>
                            </select>
                        </div>

                        <div class="form-group col-md-2 col-lg-5">
                            <label for="">Benefício</label>
                            <select class="form-control" id="" autofocus name="">
                                <option [disabled]="true">Selecione</option>
                                <option>SALB - Salário Base</option>
                                <option>INSS - Instituto Nacional do Seguro Social</option>
                                <option>IRRF - Imposto de Renda Retido na Fonte</option>
                                <option>BINM - Benefício Indireto (Mirante)</option>
                                <option>VALI - Vale Alimentação</option>
                            </select>
                        </div>

                        <div class="col-md-2 col-lg-4">
                            <div class="form-group">
                                <label for="">Valor</label>
                                <input type="text" id="" name="" class="form-control" />
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div style="width: 100%;" class="card-action">
                            <button class="btn btn-secondary btn-xl btn-border col-md-12 btn-lg">
                                <b>Cadastrar Benefício</b>
                            </button>
                        </div>
                    </div>

                    <div class="row">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td class="text-left" style="width: 570px;"><b>Benefício</b></td>
                                    <td class="text-center">
                                        <strong>Valor do Benefício</strong>
                                    </td>
                                    <td class="text-center">
                                        <strong>Tipo do Benefício</strong>
                                    </td>
                                    <td class="text-center" style="width: 270px;"><b>Ações</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SALB - Salário Base</td>
                                    <td class="text-center">R$ 5.000,00</td>
                                    <td class="text-center">Crédito</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-warning btn-border" style="margin: 10px;"> Editar </button>
                                        <button type="button" class="btn btn-danger btn-border"> Remover </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>INSS - Instituto Nacional do Seguro Social</td>
                                    <td class="text-center">R$ 500,00</td>
                                    <td class="text-center">Débito</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-warning btn-border" style="margin: 10px;"> Editar </button>
                                        <button type="button" class="btn btn-danger btn-border"> Remover </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>IRRF - Imposto de Renda Retido na Fonte</td>
                                    <td class="text-center">R$ 500,00</td>
                                    <td class="text-center">Débito</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-warning btn-border" style="margin: 10px;"> Editar </button>
                                        <button type="button" class="btn btn-danger btn-border"> Remover </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>BINM - Benefício Indireto (Mirante)</td>
                                    <td class="text-center">R$ 1,00</td>
                                    <td class="text-center">Débito</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-warning btn-border" style="margin: 10px;"> Editar </button>
                                        <button type="button" class="btn btn-danger btn-border"> Remover </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>VALI - Vale Alimentação</td>
                                    <td class="text-center">R$ 1,00</td>
                                    <td class="text-center">Débito</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-warning btn-border" style="margin: 10px;"> Editar </button>
                                        <button type="button" class="btn btn-danger btn-border"> Remover </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <td></td>
                                <td></td>
                                <td class="text-center fw-bold">
                                    <h4>Salário Líquido</h4>
                                </td>
                                <td colspan="5" class="text-center fw-bold">
                                    <h3>R$ 4.000,00</h3>
                                </td>
                            </tfoot>
                        </table>

                    </div>

                </div>
                <div class="card-action">
                    <button id="cadastrarDespesa" [disabled]="true" class="btn btn-primary btn-lg col-md-6" style="margin: 4px;">Cadastrar Composição Salarial</button>
                    <button type="button" [disabled]="true" class="btn btn-warning btn-lg col-md-3" style="margin: 4px;">Cadastrar Outra</button>
                    <button type="button" routerLink="/gerenciador-composicao-salarial" class="btn btn-danger btn-border btn-lg col-md-2" style="margin: 4px;">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>