<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.plataformalancamento.com.br/financeiro">
                        Plataforma de Lançamento - Gerenciador Finananceiro
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto">
            v0.0.1-SNAPSHOT
        </div>
    </div>
</footer>