<div class="col-md-3 pl-md-0 pr-md-0">
    <div class="card card-pricing card-pricing-focus card-secondary">
        <div class="card-header">
            <h4 class="card-title">Professional</h4>
            <div class="card-price">
                <span class="price">$35</span>
                <span class="text">/mo</span>
            </div>
        </div>
        <div class="card-body">
            <ul class="specification-list">
                <li>
                    <span class="name-specification">Customizer</span>
                    <span class="status-specification">Yes</span>
                </li>
                <li>
                    <span class="name-specification">Chat History</span>
                    <span class="status-specification">3 Month</span>
                </li>
                <li>
                    <span class="name-specification">Statistics</span>
                    <span class="status-specification">3 Month</span>
                </li>
                <li>
                    <span class="name-specification">Support</span>
                    <span class="status-specification">Yes</span>
                </li>
                <li>
                    <span class="name-specification">Live Support</span>
                    <span class="status-specification">Yes</span>
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <button class="btn btn-light btn-block"><b>Get Started</b></button>
        </div>
    </div>
</div>