<app-header></app-header>

<form (ngSubmit)="atualizarReceita()">
    <div class="main-panel">
        <div class="col-md-12" style="margin-top: 90px;">

            <!-- <div *ngIf="isApresentarMensagem == true">
                <div data-notify="container" class="col-10 col-xs-11 col-sm-4 alert alert-success" role="alert"
                    data-notify-position="top-right"
                    style="display: inline-block; margin: 0px auto; padding-left: 65px; position: fixed; transition: all 0.9s ease-in-out 0s; z-index: 1031; top: 20px; right: 20px;">
                    <button type="button" aria-hidden="true" class="close" data-notify="dismiss"
                        style="position: absolute; right: 10px; top: 5px; z-index: 1033;"><a
                            (click)="desabilitarAlerta()">×</a></button><span data-notify="icon"
                        class="fa fa-bell"></span> <span data-notify="title">Sistema Financeiro</span> <span
                        data-notify="message">Receita Cadastrada com Sucesso!</span><a href="index.html" target="_blank"
                        data-notify="url"
                        style="background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;); height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 1032;"></a>
                </div>
            </div> -->

            <div class="card">

                <div class="card-header">
                    <div class="card-title">Atualizar dados da Receita</div>
                </div>

                <div class="card-body">
                    
                </div>

                <!-- <div class="card-action">
                    <button id="atualizar-Receita" class="btn btn-primary btn-lg col-md-10">Atualizar Receita</button>
                    <button type="button" (click)="redirecionarPaginaMonitoramentoReceita()" class="btn btn-danger btn-border btn-lg col-md-2">Cancelar</button>
                </div> -->

            </div>
        </div>
    </div>
</form>