<app-header></app-header>

<!-- <form (click)="cadastrar()"> -->
    <div class="main-panel">
        <div class="col-md-12" style="margin-top: 100px;">

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Cadastro de Despesa Fixa</div>
                </div>
                <div class="card-body">

                    <div class="row">

                        <div class="col-md-3 col-lg-4">
                            <div class="form-group">
                                <label for="contrato">Contrato</label>
                                <select id="contrato" name="contrato" [(ngModel)]="contratoCodigo" (ngModelChange)="recuperarVencimento()" autofocus class="form-control">
                                    <option [disabled]="true">Selecione</option>
                                    <option *ngFor="let contrato_ of contratoList" [value]="contrato_.codigo"> {{contrato_.identificador}} </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="dataInicioVigencia">Dia de Vencimento</label>
                                <input id="dataInicioVigencia" type="text" name="dataInicioVigencia" [(ngModel)]="contratoModel.dataInicioVigencia" placeholder="DD/MM/AAAA" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                <label for="valor-mensal-pagamento">Valor Mensal</label>
                                <input id="valor-mensal-pagamento" type="text" name="valor-mensal-pagamento" [(ngModel)]="contratoModel.valorMensalPagamento" placeholder="R$ 00,00" class="form-control" />
                            </div>
                        </div>

                    </div>

                    <div class="row">

                    </div>

                </div>
                <div class="card-action">
                    <button id="cadastrarDespesa" class="btn btn-primary btn-lg col-md-6" style="margin: 4px;">Cadastrar
                        Despesa</button>
                    <button type="button" class="btn btn-warning btn-lg col-md-3" style="margin: 4px;">Cadastrar
                        Outra</button>
                    <button type="button" (click)="redirecionarPaginaMonitoramentoDespesa()" style="margin: 4px;" class="btn btn-danger btn-border btn-lg col-md-2">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
<!-- </form> -->